nav{
  /*height: 40px;*/
  /*line-height: 42px;*/
}
.brand-logo{
  font-size: 1.5rem;
}
.header-title{
  font-weight: bold;
  color: #585858 !important;
  margin-left: 5px
}

.userImage{
  margin-top: 12px;
  height: 40px;
  margin-left: 10px;
}
