<nav>
  <div class="nav-wrapper white  darken-3">
    <a routerLink="/home" class="brand-logo left header-title">Business Canvas</a>

    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
    </ul>
    <a class="right black-text">{{userName}}</a>
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
  <li><a (click)="login()">Log in</a></li>
  <li><a (click)="logout()">Log out</a></li>
</ul>




