<div class="row parent">
  <div  [dragula]='"first-bag"' class="col s6 grey">
    <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:1)" [data]="data" ></app-card-canvas>
  </div>

  <div [dragula]='"first-bag"' class="col s6">
    <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:2)" [data]="data" ></app-card-canvas>
  </div>

  <div [dragula]='"first-bag"' class="col s6 grey">
      <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:3)" [data]="data" ></app-card-canvas>
  </div>

  <div [dragula]='"first-bag"' class="col s6">
    <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:4)" [data]="data" ></app-card-canvas>
  </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light red" (click)="newCard()"><i class="material-icons">add</i></a>




