<div class="row parent">
  <div class="col s3">
    <div class="frame">
      <h5 class="title-frame">Clientes</h5>
      <div [dragula]='"first-bag"' class="bag col s10 offset-s1">
        <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:1)" [data]="data" ></app-card-canvas>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="frame">
      <h5 class="title-frame">Clientes</h5>
      <div [dragula]='"first-bag"' class="bag col s10 offset-s1">
        <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:1)" [data]="data" ></app-card-canvas>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="frame">
      <h5 class="title-frame">Clientes</h5>
      <div [dragula]='"first-bag"' class="bag col s10 offset-s1">
        <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:1)" [data]="data" ></app-card-canvas>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="frame">
      <h5 class="title-frame">Clientes</h5>
      <div [dragula]='"first-bag"' class="bag col s10 offset-s1">
        <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:1)" [data]="data" ></app-card-canvas>
      </div>
    </div>
  </div>





</div>



<!--<a class="btn-floating btn-large waves-effect waves-light red" (click)="newCard()"><i class="material-icons">add</i></a>-->




