<span class="grid">
  <div class="space1">
    <h5>Fortalezas <a class="cursor" (click)="newCard(1)"><i class="material-icons right">add</i></a></h5>
    <div [dragula]='"first-bag"' class="bag">
          <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:1)" [data]="data" ></app-card-canvas>
    </div>
  </div>
  <div class="space2">
    <h5>Debilidades <a class="cursor" (click)="newCard(2)"><i class="material-icons right">add</i></a></h5>
     <div [dragula]='"first-bag"' class="bag">
          <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:2)" [data]="data" ></app-card-canvas>
    </div>
  </div>
  <div class="space3">
    <h5>Oportunidades <a class="cursor" (click)="newCard(3)"><i class="material-icons right">add</i></a></h5>
     <div [dragula]='"first-bag"' class="bag">
          <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:3)" [data]="data" ></app-card-canvas>
    </div>
  </div>
  <div class="space4">
    <h5>Amenazas <a class="cursor" (click)="newCard(4)"><i class="material-icons right">add</i></a> </h5>
     <div [dragula]='"first-bag"' class="bag">
          <app-card-canvas  *ngFor="let data of (listData | filterCardsBag:4)" [data]="data" ></app-card-canvas>
    </div>
  </div>
</span>
